.listItemContainer {
  margin: 5px;
}
.buttonEl {
  background-color: transparent;
  font-family: 'Roboto';
  color: #0f172a;
  border-width: 0px;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
  outline: none;
}
.activeButton {
  border-color: #0284c7;
  border-style: solid;
  border-width: 1px;
  color: #0284c7;
  border-radius: 8px;
  padding-left: 9px;
  padding-right: 9px;
}

@media screen and (min-width: 768px) {
  .buttonEl {
    font-size: 14px;
  }
  .activeButton {
    border-radius: 12px;
  }
  .listItemContainer {
    margin: 10px;
  }
}
